<div class="container">
 <h3>マイページ</h3>
 <div class="row pb-2">
  <h4 class="pr-4">登録情報</h4>
  <%= link_to "編集する", mypage_edit_path, class: "btn btn-success" %>
 </div>
  <div class="row">
   <div class="col-lg-8">
    <table class="table bg-white mb-5 table-bordered">
      <thead>
        <tr>
          <th>氏名</th>
          <th><%= @end_user.last_name %><%= @end_user.first_name %></th>
        </tr>
        <tr>
          <th>カナ</th>
          <th><%= @end_user.last_name_furigana %><%= @end_user.first_name_furigana %></th>
        </tr>
        <tr>
          <th>郵便番号</th>
          <th><%= @end_user.postal_code %></th>
        </tr>
        <tr>
          <th>住所</th>
          <th><%= @end_user.address %></th>
        </tr>
        <tr>
          <th>電話番号</th>
          <th><%= @end_user.telephone_number %></th>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <th><%= @end_user.email %></th>
        </tr>
      </thead>
    </table>
   </div>
  </div>
  <table>
    <tr>
       <th>配送先</th><th><%= link_to "一覧を見る", addresses_path, class: "btn btn-success" %></th>
    </tr>
    <tr>
       <th>注文履歴</th><th><%= link_to "注文履歴", orders_path, class: "btn btn-success" %></th>
    </tr>
  </table>
</div>
