<div class="container">
  <div class="row">
      <div class="pt-4 h1">商品一覧</div>
      <div class="pl-3 pt-5 h5">全<%= @products_count %>件</div>
  </div>
</div>
<div class="container">
  <div class="row mx-auto row-cols-lg-4 row-cols-md-3 row-cols-sm-2">
    <% @products.each do |product| %>
    <div class="col">
      <div class="px-3 pb-2 pt-2 mx-2 mb-3 bg-light border border-secondary color-white text-center">
        <%= link_to product_path(product.id) do %>
        <%= attachment_image_tag product, :image, :fill, 180, 110, format: 'jpeg' %>
        <% end %>
        <div><%= link_to product.name, product_path(product.id) %></div>
        <div>¥<%= product.add_tax_sales_price %></div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="d-flex align-items-center justify-content-center"><%= paginate @products %></div>
</div>

